fastapi
uvicorn[standard]
pyjwt
sqlalchemy>=2.0
psycopg2-binary
alembic
pydantic
python-multipart
passlib[bcrypt]
boto3
botocore
celery[redis]
redis
geoalchemy2
python-dotenv
pytest
pydantic-settings
httpx
