version: '3.9'
services:
  postgres:
    image: postgis/postgis:15-3.3
    environment:
      POSTGRES_PASSWORD: example
      POSTGRES_USER: aegis
      POSTGRES_DB: aegis
    ports:
      - "5432:5432"
  redis:
    image: redis:7-alpine
    ports:
      - "6379:6379"
  minio:
    image: minio/minio
    command: server /data --console-address :9001
    environment:
      MINIO_ROOT_USER: minioadmin
      MINIO_ROOT_PASSWORD: minioadmin
    ports:
      - "9000:9000"
      - "9001:9001"
    volumes:
      - ./minio-data:/data
  api:
    build:
      context: ..
      dockerfile: backend/Dockerfile
    environment:
      AEGIS_ENVIRONMENT: docker
    ports:
      - "8000:8000"
    depends_on:
      - postgres
      - redis
      - minio
  frontend:
    build:
      context: ..
      dockerfile: frontend/Dockerfile
    ports:
      - "5173:5173"
    depends_on:
      - api
